<web-app>
<servlet>
<servlet-name>valid</servlet-name>
<servlet-class>valid</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>valid</servlet-name>
<url-pattern>/welcome</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>aa</servlet-name>
<servlet-class>WelcomeServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>aa</servlet-name>
<url-pattern>/WelcomeServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>bb</servlet-name>
<servlet-class>register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>bb</servlet-name>
<url-pattern>/rvr</url-pattern>
</servlet-mapping>

</web-app>
